force-app/main/default/flows/psa_Project_Quick_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>Wizard to create a project</description>
    <dynamicChoiceSets>
        <description>Choice Set for Filament Records</description>
        <name>rcs_Filament</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available_Qty__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>psa_Filament__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Choice for Printer</description>
        <name>rcs_Printer</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Online</stringValue>
            </value>
        </filters>
        <object>psa_Printer__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Project Quick Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Quick Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create related Print Job record</description>
        <name>Create_Print_Job</name>
        <label>Create Print Job</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>scr_Project_and_Print_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>lt_Project_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Filament__c</field>
            <value>
                <elementReference>rcs_Filament</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model_URL__c</field>
            <value>
                <elementReference>url_Print_Design.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>txt_Project_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Printer__c</field>
            <value>
                <elementReference>rcs_Printer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>Create_Project</elementReference>
            </value>
        </inputAssignments>
        <object>psa_Print__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Project</description>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_Print_Job</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>lt_Project_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>txt_Project_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Ready</stringValue>
            </value>
        </inputAssignments>
        <object>psa_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <description>Confirmation</description>
        <name>scr_Project_and_Print_Create</name>
        <label>Project and Print Create</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dt_Confirmation</name>
            <fieldText>&lt;p&gt;Project created with Id {!Create_Project}&lt;/p&gt;&lt;p&gt;Print create with Id {!Create_Print_Job}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Welcome screen for the wizard</description>
        <name>scr_Project_Quick_Add_Welcome</name>
        <label>Project Quick Add Welcome</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scr_Project_Variable</targetReference>
        </connector>
        <fields>
            <name>dt_start</name>
            <fieldText>&lt;p&gt;This wizard will create a Project and Print all at once.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to gather Project details</description>
        <name>scr_Project_Variable</name>
        <label>Project Variable</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
        <fields>
            <name>txt_Project_Name</name>
            <dataType>String</dataType>
            <fieldText>Project Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>url_Print_Design</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Print Design URL</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>pl_Printer</name>
            <choiceReferences>rcs_Printer</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Printer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pl_Filament</name>
            <choiceReferences>rcs_Filament</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Filament</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>lt_Project_Details</name>
            <fieldText>Project Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scr_Project_Quick_Add_Welcome</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
