force-app/main/default/flows/psa_Filament_Quick_Add.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <description>Clone the Settings</description>
        <name>CloneSettings</name>
        <choiceText>Clone Settings</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <description>Create Settings</description>
        <name>CreateSettings</name>
        <choiceText>Create Settings</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <description>Choice resource for selecting the way to enter in recommended settings</description>
        <name>crRecSettings</name>
        <choiceText>Clone settings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <description>Enter in new settings</description>
        <name>newSettings</name>
        <choiceText>Enter in settings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <description>Decision for settings</description>
        <name>dcsSettings</name>
        <label>dcsSettings</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>clone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CloneSettings</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Settings_Lookup</targetReference>
            </connector>
            <label>clone</label>
        </rules>
        <rules>
            <name>new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreateSettings</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrEnterSettings</targetReference>
            </connector>
            <label>new</label>
        </rules>
    </decisions>
    <description>Filament quick add wizard.</description>
    <dynamicChoiceSets>
        <description>Choice resource for Bed Type</description>
        <name>crBedType</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bed_Type__c</picklistField>
        <picklistObject>psa_Filament__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Filament material picklist</description>
        <name>filamentMaterial</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Material__c</picklistField>
        <picklistObject>psa_Filament__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Lookup Filament records</description>
        <name>rcsFilaments</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Bed_Temp_Range__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Nozzle_Temp_Range__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>psa_Filament__c</object>
        <outputAssignments>
            <assignToReference>vFilament.Bed_Temp_Range__c</assignToReference>
            <field>Bed_Temp_Range__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFilament.Bed_Type__c</assignToReference>
            <field>Bed_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFilament.Notes__c</assignToReference>
            <field>Notes__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFilament.Nozzle_Temp_Range__c</assignToReference>
            <field>Nozzle_Temp_Range__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFilament.Print_Speed__c</assignToReference>
            <field>Print_Speed__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFilament.Spool_Cost__c</assignToReference>
            <field>Spool_Cost__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vFilament.Spool_Weight_g__c</assignToReference>
            <field>Spool_Weight_g__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Choice set of Accounts in the manufacturing industry</description>
        <name>rcsManufacturers</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Industry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Manufacturing</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>IdManufacturer</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Formula to create the Filament Name</description>
        <name>fFilamentName</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!txtSeries})), {!txtColor} &amp; &apos; &apos; &amp; {!txtSeries} &amp; &apos; &apos; &amp; {!mspMaterialType}, {!txtColor} &amp; &apos; &apos; &amp; {!plManufacturer} &amp; &apos; &apos; &amp; {!mspMaterialType})</expression>
    </formulas>
    <interviewLabel>Filament Quick Add {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Filament Quick Add</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a Filament Record with cloned settings</description>
        <name>crFilamentClone</name>
        <label>crFilamentClone</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Copy_1_of_Filatment_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Available_Qty__c</field>
            <value>
                <elementReference>numSpoolSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bed_Temp_Range__c</field>
            <value>
                <elementReference>vFilament.Bed_Temp_Range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bed_Type__c</field>
            <value>
                <elementReference>vFilament.Bed_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>txtColor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturer__c</field>
            <value>
                <elementReference>IdManufacturer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Material__c</field>
            <value>
                <elementReference>filamentMaterial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fFilamentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>vFilament.Notes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nozzle_Temp_Range__c</field>
            <value>
                <elementReference>vFilament.Nozzle_Temp_Range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Speed__c</field>
            <value>
                <elementReference>vFilament.Print_Speed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Series__c</field>
            <value>
                <elementReference>txtSeries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Size__c</field>
            <value>
                <elementReference>numSpoolSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spool_Cost__c</field>
            <value>
                <elementReference>vFilament.Spool_Cost__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spool_Weight_g__c</field>
            <value>
                <elementReference>vFilament.Spool_Weight_g__c</elementReference>
            </value>
        </inputAssignments>
        <object>psa_Filament__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a Filament Record with cloned settings</description>
        <name>crFilamentNew</name>
        <label>crFilamentNew</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>scrFilatmentCreated</targetReference>
        </connector>
        <inputAssignments>
            <field>Available_Qty__c</field>
            <value>
                <elementReference>numSpoolSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bed_Temp_Range__c</field>
            <value>
                <elementReference>txtBedTempRange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bed_Type__c</field>
            <value>
                <elementReference>mplBedType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>txtColor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manufacturer__c</field>
            <value>
                <elementReference>IdManufacturer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Material__c</field>
            <value>
                <elementReference>filamentMaterial</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fFilamentName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>ltxtNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nozzle_Temp_Range__c</field>
            <value>
                <elementReference>txtNozzleTempRange</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Print_Speed__c</field>
            <value>
                <elementReference>txtPrintSpeed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Series__c</field>
            <value>
                <elementReference>txtSeries</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Size__c</field>
            <value>
                <elementReference>numSpoolSize</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Spool_Weight_g__c</field>
            <value>
                <elementReference>numSpool_Weight</elementReference>
            </value>
        </inputAssignments>
        <object>psa_Filament__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <description>Filament created</description>
        <name>Copy_1_of_Filatment_Created</name>
        <label>Copy 1 of Filament Created</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_dtComplete</name>
            <fieldText>&lt;p&gt;Filament Record created with ID {!crFilamentClone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Ask user if they want to copy or create recommended settings</description>
        <name>scrCloneRecommendations</name>
        <label>Clone Recommendations</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcsSettings</targetReference>
        </connector>
        <fields>
            <name>Add_or_Clone_Settings</name>
            <choiceReferences>CloneSettings</choiceReferences>
            <choiceReferences>CreateSettings</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Add or Clone Settings</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Screen to enter recommended settings.</description>
        <name>scrEnterSettings</name>
        <label>scrEnterSettings</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>crFilamentNew</targetReference>
        </connector>
        <fields>
            <name>dtEnterSettings</name>
            <fieldText>&lt;p&gt;Enter in the recommended settings for the filament&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>numSpool_Weight</name>
            <dataType>Number</dataType>
            <fieldText>Spool Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>txtNozzleTempRange</name>
            <dataType>String</dataType>
            <fieldText>Nozzle Temp Range</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtBedTempRange</name>
            <dataType>String</dataType>
            <fieldText>Bed Temp Range</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>txtPrintSpeed</name>
            <dataType>String</dataType>
            <fieldText>Print Speed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>mplBedType</name>
            <choiceReferences>crBedType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bed Type</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ltxtNotes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Filament data capture screen</description>
        <name>scrFilamentDetails</name>
        <label>Filament Details</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrCloneRecommendations</targetReference>
        </connector>
        <fields>
            <name>plManufacturer</name>
            <choiceReferences>rcsManufacturers</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Manufacturer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>mspMaterialType</name>
            <choiceReferences>filamentMaterial</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Material Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtColor</name>
            <dataType>String</dataType>
            <fieldText>Color</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>txtSeries</name>
            <dataType>String</dataType>
            <fieldText>Series</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>numSpoolSize</name>
            <dataType>Number</dataType>
            <fieldText>Spool Size (g)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Filament created</description>
        <name>scrFilatmentCreated</name>
        <label>Filatment Created</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtComplete</name>
            <fieldText>&lt;p&gt;Filament Record created with ID {!crFilamentNew}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>scrStart</name>
        <label>Start</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrFilamentDetails</targetReference>
        </connector>
        <fields>
            <name>dtStartTezt</name>
            <fieldText>&lt;p&gt;This wizard allows you to quickly add a Filament record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Lookup settings of a filament</description>
        <name>Settings_Lookup</name>
        <label>Settings Lookup</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>crFilamentClone</targetReference>
        </connector>
        <fields>
            <name>dtSettingLookup</name>
            <fieldText>&lt;p&gt;Select a filament record to clone the settings from.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pluFilment_Record</name>
            <choiceReferences>rcsFilaments</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Filment Record</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scrStart</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Filament Manufacturer</description>
        <name>IdManufacturer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Filament Record</description>
        <name>vFilament</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>psa_Filament__c</objectType>
    </variables>
</Flow>
